section {

    // color: white; //temp for test

    &#header {
        background-image: linear-gradient(0, transparent, #292b2db5 0%), url("/images/banner.jpg");
        background-position: center;
        background-size: cover;

        img {
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
        }

    }


    // &#about {
    // }

    &#news {
        @apply bg-primary text-neutral;
    }

    &#servers {
         @apply bg-light text-base-100;
    }

    // &#staff {
    // }
}
