/node_modules
/public/css/*
/public/hot
/public/js/*
/public/storage
/storage/*.key
/vendor
.env
.env.*
!.env.example
!.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
rr
.rr.yaml
.history
package-lock.json
composer.lock
/public/css/*.css
/public/mix-manifest.json
