section {

    &#header {
        background-image: linear-gradient(0, transparent, #292b2db5 0%), url("/images/banner_empty.png");
        background-position: center;
        background-size: cover;

        img {
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
        }

    }
}
